@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

.header{
    width: 100%;
    height: var(--header-height);
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid rgb(140 140 140/.2);
}

.title{
    font-size: 28px;
    font-family: "rubik doodle shadow";
    user-select: none;
    text-decoration: none;
    color: #000;
}

.title:hover{
    scale: none;
}

.title:link, .title:visited{
    color:#000;
}



.nav{
    max-width: 1200px;
    gap: 30px;
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}

.botones{
    display: flex;
    gap: 30px;
    align-items: center;
}

.a{
    text-decoration: none;
    color: #000;
    transition: scale .1s ease-in-out;
    font-size: 16px;
}

.a:hover{
    scale: 1.1;
}

.carrito_activo{
    position: relative;
}

.carrito_activo::before{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-flex;
    z-index: 10;
}

@media screen and (width < 350px) {

    .nav{
        gap: 15px;
    }

    .title{
        font-size: 24px;
    }

    .a{
        font-size: 14px;
    }
}